html
{
    font-family: raleway;
}

body
{
    margin: initial;
}

/* Partie importante de la page */

h1, h2
{
    font-size: 18px;
}

h3
{
    font-size: 14px;
}

h4
{
    font-size: 12px;
    color: black;
    margin-bottom: 9px;  
}

p
{
    font-size: 10px;
}

/* Header */

header
{
    margin: 25px auto;
    width: 93%;
}

.logo img
{
    width: 40%;
}

.logo-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barre_navigation ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.barre_navigation a
{
    text-decoration: none;
    padding: 30px 10px;
    font-size: 10px;
}

.barre_navigation a:hover
{
    border-top: 1px #0065FC solid;
    color: #0065FC;    
}

.navigation1_2
{
    color: black;
}

.navigation1_2 a
{
    color: black;
}

.inscription
{
    color:#0065FC;
    font-weight: bold;
}

.inscription_mobile 
{
    display: none;
}

/* Recherche */

.rechercher
{
    display: flex;
}

.gps
{
    position: relative;
    margin-left: 15px;
    padding-top: 13px;
    font-size: 0.75em;
}

.rechercher input
{
    border: 1px #cfcfcf solid;
    border-left: 40px #cfcfcf solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -24px;
}

input::placeholder
{
    color: black;
}

input:focus
{
    outline: none;
}

.ville
{
    padding-left: 12px;
    font-weight: bold;
    color: black;
}

.clic
{
    color: white;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 12px;
    cursor: pointer;
}

.recherche
{
    display: none;
}

/* Filtre */

.filtres
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.filtres h3
{
    font-size: 14px;
}

.choix_filtre
{
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

.filtres i
{
    border-radius: 40px;
    width: 35px;
    height: 35px;
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5;
    margin-left: -1px;
    }

.filtres a
{
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.filtres a:hover
{
    color: #0065FC;
}

/* Information */

.information
{
    display: flex;
    align-items: center;
}

.information i
{
    border: 1px #F2F2F2 solid;
    border-radius: 40px;
    color: #0065FC;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.information p
{
    text-align: center;
    margin-left: 10px;
    padding-top: 2px;
}

/* Hébergement */

main
{
    display: flex;
    margin: 15px auto;
    padding: 10px;
    width: 93%;
    justify-content: space-between;
}

.hebergement
{
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 70%;
    margin-right: 15px;
    padding: 25px;
}

.hebergement p
{
    padding-left: 9px;
}

.hebergement h4
{
    margin-top: 5px;
    padding-left: 9px;
}

.titre
{
    width: 98%;
    margin: auto;
}

.bloc_hebergement
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.choix_hebergement
{
    background-color: white;
    box-shadow: 1px 3px 4px 3px darkgrey;
    border-radius: 17px;
    margin: 15px auto;
    padding: 4px;
    width: 30%; 
    height: 250px;
}   

.choix_hebergement a
{
    text-decoration: none;
}

.choix_hebergement a:hover
{
    color: #0065FC;
}

.choix_hebergement img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 67%;
    object-fit: cover;
}

.descriptions_hebergement
{
    color: black;
}

.prix
{
    font-weight: bold;
}

.etoiles
{
    margin-top: 15px;
    margin-bottom: auto;
}

.etoiles, .etoiles_populaire
{
    color: #0065FC;
    font-size: 10px;
    padding-left: 9px;
}

.differente
{
    color: #F2F2F2;
}

.afficher_plus
{
    width: 98%;
    margin: 20px auto auto auto;
}

.afficher_plus p
{
    font-size: 14px;
    font-weight: bold;
    padding: initial;
}

/* Les plus populaires */

.les_plus_populaires
{
    background-color: #F2F2F2;
    border-radius: 15px;    
    padding: 25px;
    width: 30%;
    margin-left: 15px;
}

.titre_populaire
{
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: auto;
}

.icone
{
    line-height: 3;
}

.descriptions_populaire
{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.choix_logement
{
    background-color: white;
    box-shadow: 1px 3px 4px 3px darkgrey;
    border-radius: 15px; 
    margin: 15px auto 25px auto;
    padding: 4px 0 4px 4px;
    width: 92%;
    height: 166px;
}

.choix_logement a
{
    display: flex;
    text-decoration: none;
    color: black;
}

.choix_logement img
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
    min-width: 45%;
    height: auto;
    min-height: 166px;
    max-height: 166px;
    object-fit: cover;
}

.etoiles_populaire
{
    font-size: 10px;
    margin-top: auto;
    padding-bottom: 5px;
    padding-left: initial;
}

/*Activités*/

.activites
{
    width: 93%;
    margin: 25px auto;
}

.activites h2
{
    margin-right: auto;
    margin-left: auto;
}

.emplacement_des_activites
{
    display: flex;
    justify-content: space-between;
}

.choix_activite_image1, .choix_activite_image4
{
    width: 25%;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 1px #a5a5a5;
    border-radius: 25px;
    height: 500px;
    margin: 20px;
    margin-left: initial;
}

.choix_activite_image1 a, .choix_activite_image2 a, .choix_activite_image3 a, .choix_activite_image4 a, .choix_activite_image5 a, .choix_activite_image6 a
{
    text-decoration: none;
}

.choix_activite_image1 img, .choix_activite_image4 img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.choix_activite_image4
{
    margin-left: 20px;
}

.choix_activite_groupe1
{
    width: 25%;
    margin: 20px auto;
}

.choix_activite_image2
{
    width: 100%;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 1px #a5a5a5;
    border-radius: 25px;
    height: 290px;
    margin-bottom: 30px;
}

.choix_activite_image3
{
    width: 100%;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 1px #a5a5a5;
    border-radius: 25px;
    height: 180px;
    margin: 0;
}

.choix_activite_image2 img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.choix_activite_image3 img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.choix_activite_groupe2
{
    width: 25%;
    margin: 20px auto;
}

.choix_activite_image5, .choix_activite_image6
{
    width: 100%;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 1px #a5a5a5;
    border-radius: 25px;
    height: 235px;
    margin-bottom: 30px;
}

.choix_activite_image5 img, .choix_activite_image6 img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 185px;
    object-fit: cover;
}

.activites h4
{
    padding-left: 20px;
}

/* Footer */

.footer
{
    background-color: #F2F2F2;
    margin: 32px auto 0 auto;
}

.navigation_footer
{
    display: flex;
    justify-content: flex-start;
    width: 93%;
    margin: 0 auto;
    padding: 10px 0 25px 0;
}

.titre_footer
{
    width: 33%;
}

.descriptif p a
{
    color: black;
    text-decoration: none;
}

