@media screen and (max-width: 425px) 
{
    /* Partie importante de la page */
    
    html
    {
        width: 100%;
    }
    
    h2
    {
        font-size: 15px;
    }
    
    body
    {
        margin: initial;
    }

    /* Header */

    header
    {
        width: 90%;
        max-width: initial;
    }

    .inscription_desktop 
    {
        display: none;
    }
	
    .inscription_mobile 
    {
        display: inline;
        text-decoration: none;
        font-size: 15px;
        
    }

    .logo img
    {
        width: 30%;
    }

    .logo_inscrire 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    
    .logo-nav 
    {
        display: flex;
        flex-direction: column;
    }

    .barre_navigation
    {
        width: 100%;
    }

    .navigation1_2
    {
        margin-right: 1px;
        padding: 10px;
        text-align: center; 
        border-bottom: 2px #cfcfcf solid ;
        color: black;
    }

    .navigation1_2 a
    {
        text-decoration: none;
    }

    .navigation1_2:hover, .navigation1_2:focus
    {
        border-bottom: 2px #0065FC solid ;
        color: #0065FC;
    }
    
    .barre_navigation li
    {
        width: 50%;
    
    }

    .barre_navigation a
    {
        padding: 10px;
    }

    .barre_navigation a:hover
    {
        border-top: initial;
    }

    .barre_navigation ul
    {
        padding-left: initial;
    }
    
    /* Recherche */

    .rechercher
    {
        width: 100%;
        margin: auto;
    }

    .rechercher input
    {
        padding: 8px;
    }

    .gps
    {
        line-height: 2.8;
        padding-top: initial;
    }

    .clic
    {
        display: none;
    }

    .recherche
    {
        display: inline;
        position: relative;
        color: white;
        background-color: #0065FC;
        border: 2px #0065FC solid;
        border-radius: 10px;
        cursor: pointer;
        margin-left: -10px;
    }

    .loupe
    {
        width: 22px;
    }
    
    /* Filtres */

    .filtres
    {
        justify-content: initial;
        flex-wrap: wrap;
    }

    .filtres h3
    {
        font-size: 12px;
        width: 80%;
    }
  
    .choix_filtre
    {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: initial;
    }

    .economique
    {
        margin-right: 10px;
    }

    .romantique
    {
        margin-right: 120px;
    }

    .filtres a
    {
        font-size: 10px;
    }

    /* Information */

    .information
    {
        align-items: initial;
        width: 87%;
        margin-top: 10px;
    }

    .information i
    {
        font-size: 10px;
    }

    .information p
    {
        text-align: initial;
        margin-top: 7px;
        padding-top: initial;
    }

    /* Main */

    main
    {
        display: flex;
        flex-direction: column-reverse;
        margin-right: initial;
        margin-left: initial;
        margin-top: -25px;
        padding: initial;
        width: 100%;
        max-width: initial;
    }

    /* Hébergements */

    .hebergement
    {
        background-color: initial;
        border-radius: initial;
        width: 90%;
        padding: initial;
        margin: auto;
    }

    .choix_hebergement
    {
        width: 100%;
        height: 180px;
        margin: 10px auto;
    }

    .choix_hebergement img
    {
        height: 61%;
    }

    .hebergement h4
    {
        margin-top: 5px;
    }

    .afficher_plus
    {
        padding: initial;
    }

    .afficher_plus p
    {
        font-size: 13px;
        padding: initial;
    }
    
    /* Les plus populaires */ 

    .les_plus_populaires
    {
        display: initial;
        width: 100%;
        border-radius: initial;
        margin: auto;
        padding: initial;
    }

    .titre_populaire
    {
        width: 90%;
        max-width: initial;
    }

    .bloc_logement
    {
        width: 90%;
        margin: auto;
    }

    .choix_logement
    {
        width: 97%;
        margin: 15px 0 25px 0;
        padding: 5px;
    }

    /* Activités */

    .activites
    {
        max-width: initial;
        margin: 15px auto;
        margin-bottom: initial;
        padding: initial;
        width: 90%;
    }

    .activites h2
    {
        margin-left: initial;
    }

    .emplacement_des_activites
    {
        display: initial;
    }

    .choix_activite_image1, .choix_activite_image2, .choix_activite_image3, .choix_activite_image4, .choix_activite_image5, .choix_activite_image6
    {
       width: 100%;
       height: 185px;
       margin: auto;
       box-shadow: 1px 2px 1px 1px #a5a5a5; 
    }

    .choix_activite_image2, .choix_activite_image5
    {
        margin-bottom: 20px;
    }

    .choix_activite_image1 img, .choix_activite_image2 img, .choix_activite_image3 img, .choix_activite_image4 img, .choix_activite_image5 img, .choix_activite_image6 img
    {
        height: 72%;
    }

    .choix_activite_groupe1, .choix_activite_groupe2
    {
        width: 100%;
        margin: 20px auto;
    }

    /* Footer */

    .footer
    {
        margin: 0 auto;
    }

    .navigation_footer
    {
        justify-content: initial;
        max-width: initial;
        min-width: initial;
        padding: 20px 0;
        width: 90%;
        flex-wrap: wrap;
    }

    .titre_footer
    {
        width: 100%;
        padding-top: 20px;
    }

    .titre_footer h3
    {
        margin: initial;
        padding: initial;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 426px) and (max-width: 810px)
{
    /* Partie importante de la page */
    
    html
    {
        width: 100%;
    }

    body
    {
        margin: initial;
    }

    /* Header */

    .barre_navigation a
    {
        padding: 30px 3px;
    }

    .logo img
    {
        width: 30%;
    }

    /* Main */
       
    .hebergement
    {
        width: 60%;
        padding-bottom: initial;
    }

    .titre
    {
        width: 98%;
        max-width: initial;
    }
    
    .hebergement p
    {
        padding-left: 9px;
    }
    
    .hebergement h4
    {
        padding-left: 9px;  
    }
    
    .bloc_hebergement
    {
        width: 100%;
        margin: initial;
    }
    
    .choix_hebergement
    {
        width: 45%; 
        height: 160px;
    }   
    
    .choix_hebergement a
    {
        text-decoration: none;
    }
    
    .hebergement p
    {
        padding-left: 9px;
        font-size: 8px;
    }

    .hebergement h4
    {
        margin: initial;
        padding-left: 9px; 
        font-size: 10px; 
    }

    .afficher_plus
    {
        margin: auto;
        padding-bottom: 5px;
    }

    .afficher_plus p
    {
        font-size: 14px;
        width: 98%;
        max-width: initial;
        margin-left: auto;
        margin-right: auto;
        padding: initial;
    }
    
    /* Les plus populaires */
    
    .les_plus_populaires
    {
        background-color: #F2F2F2;
        border-radius: 15px;    
        padding: 25px;
        padding-bottom: initial;
        width: 40%;
        margin-left: 15px;
    }

    .titre_populaire
    {
        max-width: initial;
    }

    .choix_logement
    {
        background-color: white;
        box-shadow: 1px 3px 4px 3px darkgrey;
        border-radius: 17px;
        margin-bottom: 31px;
        padding: 4px;
        width: 96%; 
        height: 160px;
    }

    .choix_logement img
    {
        border-top-left-radius: 15px;
        border-bottom-left-radius: initial;
        border-top-right-radius: 15px;
        width: 100%;
        height: 62%;
        min-height: initial;
        object-fit: cover;
    }

    .choix_logement a
    {
        display: initial;
    }

    .descriptions_populaire
    {
        padding: initial;
        padding-left: 9px;
    }

    .descriptions_populaire h4
    {
        margin: initial;
    }

    .etoiles_populaire
    {
        padding: initial;
    }

    /* Activités */

    .activites
    {
        max-width: 93%;
        margin: auto;
    }

    .activites h2
    {
        margin-left: initial;
    }

    .emplacement_des_activites
    {
        flex-wrap: wrap;
        margin-left: initial;
        margin-right: auto;
    }

    .choix_activite_image1, .choix_activite_image4
    {
        width: 48%;
        height: 450px;
        margin-left: initial;
        margin-right: 50px;
    }

    .choix_activite_image1 img, .choix_activite_image4 img
    {
        height: 400px;
    }

    .choix_activite_image1 a
    {
        text-decoration: none;
    }

    .choix_activite_groupe1, .choix_activite_groupe2
    {
        width: 45%;
    }
    
    .choix_activite_image2, .choix_activite_image3, .choix_activite_image5, .choix_activite_image6
    {
        height: 210px;
        margin-left: initial;
        margin-right: 50px;
    }

    .choix_activite_image2 img, .choix_activite_image3 img, .choix_activite_image5 img, .choix_activite_image6 img
    {
        height: 160px;
    }


    /* Footer */

    .footer
    {
        margin: 0 auto 0 auto;
    }

    .navigation_footer
    {
        width: 93%;
        min-width: initial;
        max-width: initial;
    }
    
}

@media screen and (min-width: 811px) and (max-width: 1024px) 
{
    /* Header */

    .logo img
    {
        width: 30%;
    }
    
    /* Activités */

    .choix_logement img
    {
        min-width: 45%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px)
{
    
}

