@media screen and (max-width: 500px) 
{
    /* Partie importante de la page */
    
    html
    {
        width: 100%;
    }
    
    h2
    {
        font-size: 15px;
    }
    
    body
    {
        margin: initial;
    }

    /* Header */

    header
    {
        width: 90%;
        max-width: initial;
    }

    .inscription_desktop 
    {
        display: none;
    }
	
    .inscription_mobile 
    {
        display: inline;
        text-decoration: none;
    }

    .logo_inscrire 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-nav 
    {
        display: flex;
        flex-direction: column;
    }

    /* Recherche */

    .rechercher
    {
        display: initial;
    }

    .rechercher input
    {
        padding: 8px;
    }

    .clic
    {
        display: none;
    }

    .recherche
    {
        display: inline;
        position: relative;
        color: white;
        background-color: #0065FC;
        border: 2px #0065FC solid;
        border-radius: 10px;
        cursor: pointer;
        margin-left: -10px;
    }
    
    /* Filtres */

    .filtres
    {
        flex-wrap: wrap;
    }

    .filtres h3
    {
        font-size: 12px;
        width: 80%;
    }
  
    .choix_filtre
    {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: initial;
    }

    .economique
    {
        margin-right: 10px;
    }

    .romantique
    {
        margin-right: 120px;
    }

    .filtres a
    {
        font-size: 10px;
    }

    /* Information */

    .information
    {
        align-items: initial;
        width: 87%;
        margin-top: 10px;
    }

    .information i
    {
        font-size: 10px;
    }

    .information p
    {
        text-align: initial;
        margin-top: 7px;
        padding-top: initial;
    }

    /* Main */

    main
    {
        display: flex;
        flex-direction: column-reverse;
        margin-right: initial;
        margin-left: initial;
        margin-top: -25px;
        padding: initial;
        width: 100%;
        max-width: initial;
    }

    /* Hébergements */

    .hebergement
    {
        background-color: initial;
        border-radius: initial;
        width: 100%;
        padding: initial;
        margin: initial;
    }

    .choix_hebergement
    {
        width: 100%;
    }
    
    /* Les plus populaires */ 

    .les_plus_populaires
    {
        display: initial;
        width: 100%;
        border-radius: initial;
        margin: auto;
        padding: initial;
    }

    .titre_populaire
    {
        margin-top: initial;
        margin-left: 15px;
        width: 80%;
    }

    .bloc_hebergement
    {
        width: 93%;
        margin: auto;
    }

    

    

    /* Activités */

    
    
    

}



/* Header 

header
{
    margin: 25px auto;
    max-width: 93%;
}

.logo-nav
{
    display: flex;
    justify-content: space-between;
}

.logo img
{
    width: 21%;
}

.barre_navigation ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.barre_navigation a
{
    text-decoration: none;
    padding: 30px 10px;
    font-size: 10px;
}

.barre_navigation a:hover
{
    border-top: 1px #0065FC solid;
    color: #0065FC;    
}

.navigation1_2
{
    color: black;
}

.inscription
{
    color:#0065FC;
    font-weight: bold;
}

.inscription_mobile 
{
    display: none;
}

/* Recherche 

.rechercher
{
    display: flex;
}

.rechercher i
{
    position: relative;
    margin-left: 15px;
    padding-top: 13px;
    font-size: 0.75em;
}

.rechercher input
{
    border: 1px #cfcfcf solid;
    border-left: 40px #cfcfcf solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -24px;
}

input::placeholder
{
    color: black;
}

.ville
{
    padding-left: 12px;
    font-weight: bold;
    color: black;
}

.clic
{
    color: white;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 12px;
    cursor: pointer;
}

.recherche
{
    display: none;
}
/* Filtre 

.filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.filtres h3
{
    font-size: 14px;
}

.choix_filtre
{
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

.filtres i
{
    border-radius: 40px;
    width: 30px;
    height: 30px;
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    margin-left: -1px;
    }

.filtres a
{
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

/* Information 

.information
{
    display: flex;
    align-items: center;
}

.information i
{
    border: 1px #F2F2F2 solid;
    border-radius: 40px;
    color: #0065FC;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.information p
{
    text-align: center;
    margin-left: 10px;
    padding-top: 2px;
}

/* Hébergement 

main
{
    display: flex;
    margin: 15px auto;
    padding: 10px;
    max-width: 93%;
    justify-content: space-between;
}

.hebergement
{
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 70%;
    margin-right: 15px;
    padding: 25px;
}

.hebergement p
{
    padding-left: 9px;
}

.hebergement h4
{
    padding-left: 9px;  
}

.titre
{
    display: flex;
    justify-content: space-between;
    max-width: 1108px;
    margin: auto;
}

.bloc_hebergement
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.choix_hebergement
{
    background-color: white;
    box-shadow: 1px 3px 4px 3px darkgrey;
    border-radius: 17px;
    margin: 15px auto;
    padding: 3px;
    width: 30%; 
    height: 250px;
}   

.choix_hebergement a
{
    text-decoration: none;
}

.choix_hebergement img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 67%;
    object-fit: cover;
}

.descriptions_hebergement
{
    color: black;
}

.prix
{
    font-weight: bold;
}

.etoiles, .etoiles_populaire
{
    color: #0065FC;
    font-size: 10px;
    padding-left: 9px;
}

.differente
{
    color: #F2F2F2;
}

.afficher_plus
{
    padding: 10px;
    font-weight: bold;
}

/* Les plus populaires 

.les_plus_populaires
{
    background-color: #F2F2F2;
    border-radius: 15px;    
    padding: 25px;
    width: 30%;
    margin-left: 15px;
}

.titre_populaire
{
    display: flex;
    justify-content: space-between;
    max-width: 460px;
    margin: auto;
}

.icone
{
    line-height: 3;
}

.descriptions_populaire
{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.choix_logement
{
    background-color: white;
    box-shadow: 1px 3px 4px 3px darkgrey;
    border-radius: 15px; 
    margin: 15px auto 25px auto;
    padding: 5px 0 5px 5px;
    width: 92%;
    height: 166px;
}

.choix_logement a
{
    display: flex;
    text-decoration: none;
    color: black;
}

.choix_logement img
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
    height: auto;
    min-height: 166px;
    max-height: 166px;
    object-fit: cover;
}

.etoiles_populaire
{
    padding-top: 70px;
    font-size: 10px;
}

/*Activités

.activites
{
    max-width: 90%;
    margin: 25px auto;
    padding: 10px;
}

.activites h2
{
    margin-left: -27px;
}

.emplacement_des_activites
{
    display: flex;
    justify-content: space-between;
    margin-left: -47px;
    margin-right: -27px;
}

.choix_activite_image1, .choix_activite_image4
{
    width: 25%;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 1px #a5a5a5;
    border-radius: 25px;
    height: 500px;
    margin: 20px;
    cursor: pointer;
}

.choix_activite_image1 img, .choix_activite_image4 img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.choix_activite_groupe1
{
    width: 25%;
    margin: 20px auto;
}

.choix_activite_image2
{
    width: 100%;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 1px #a5a5a5;
    border-radius: 25px;
    height: 290px;
    margin-bottom: 30px;
    cursor: pointer;
}

.choix_activite_image3
{
    width: 100%;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 1px #a5a5a5;
    border-radius: 25px;
    height: 180px;
    margin: 0;
    cursor: pointer;
}

.choix_activite_image2 img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.choix_activite_image3 img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.choix_activite_groupe2
{
    width: 25%;
    margin: 20px auto;
}

.choix_activite_image5
{
    width: 100%;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 1px #a5a5a5;
    border-radius: 25px;
    height: 290px;
    margin-bottom: 30px;
    cursor: pointer;
}

.choix_activite_image6
{
    width: 100%;
    background-color: #F2F2F2;
    box-shadow: 1px 2px 1px 1px #a5a5a5;
    border-radius: 25px;
    height: 180px;
    margin: 0;
    cursor: pointer;
}

.choix_activite_image5 img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.choix_activite_image6 img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.activites h4
{
    padding-left: 20px;
}

/* Footer 

.footer
{
    background-color: #F2F2F2;
    margin: 32px auto;
}

.navigation_footer
{
    display: flex;
    justify-content: flex-start;
    max-width: 1800px;
    min-width: 900px;
    margin: 0 auto;
    padding: 10px 0 25px 0;
    width: 93%;  
}

.titre_footer h3
{
    margin-left: 1px;
    padding-right: 490px;
}

.descriptif p a
{
    color: black;
    text-decoration: none;
}*/
 