html
{
    font-family: raleway;
}
/* Partie importante de la page */

h1,h2
{
    font-size: 16px;
}

h3
{
    font-size: 12px;
}

h4
{
    font-size: 10px;
}

var
{
    --bleuclair: #DEEBFF;
    --bleufonce: #0065FC;
    --grisclair: #F2F2F2;
    --grisfonce: #f2f2f2c4;
}

p
{
    font-size: 10px;
}

/* Header */

.logo-nav
{
    display: flex;
    justify-content: space-between;
}

.logo img
{
    width: 25%;
}

.barre_navigation ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.barre_navigation a
{
    text-decoration: none;
    padding: 10px;
    color: black;
}

/* Recherche */
.rechercher span
{
    padding: 10px;
    background: #cfcfcf;
}
.clic
{
    color: white;
    background-color: darkblue;
    border-radius: 20px;
    margin-right: 0px;
}

/* Filtre */

.filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.filtres h3
{
    font-size: 14px;
}

.choix_filtre
{
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

.filtres i
{
    border-radius: 40px;
    width: 30px;
    height: 30px;
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    margin-left: -1px;
    }

.filtres a
{
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

/* Information */

.information
{
    display: flex;
}

.information i
{
    border: 1px rgb(156, 154, 154) solid;
    border-radius: 40px;
    color: darkblue;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 1;
    font-size: 12px;
}

.information p
{
    text-align: center;
    margin-left: 10px;
}

/* Hébergement */

/* Footer */

.footer
{
    background-color: #F2F2F2;
}

.navigation_footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}